* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background-color: blueviolet;
    color: white;
    scroll-behavior: smooth;
    
    
    
}
.icon {
    width: 50px;
    height: 50px;
    cursor: pointer;
    border-radius: 100px;
    color: white;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    background: black;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo { font-size: 1.5rem; font-weight: bold; }
.logo span { color: #00adb5; }

.nav-links { list-style: none; display: flex; }
.nav-links li { margin: 0 15px; }
.nav-links a { text-decoration: none; color: rgb(189, 213, 186); transition: 0.1s; }
.nav-links a:hover { color: #00adb5; }


.btn {
    padding: 10px 20px;
    background: #00adb5;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
}

.btn:hover { background: #007c82; }


section {
    padding: 100px 10%;
    min-height: 50vh;
    border-bottom: 1px solid blueviolet;
}

.hero {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero-content {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    background: linear-gradient(45deg, var(--accent) 30%,
    #ffffff 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: white;
}

.hero-image {
    flex: 1;
    padding-right: 5rem;
}

.profile-img {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid var(--accent);
    box-shadow: 0 0 50px var(--accent);
    animation: float 3s ease-in-out infinite;
    filter: grayscale(0.2) contrast(1.1);
}

@keyframes float {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-20px);}
}

#about {
    padding: 80px 0;
    color: #fff;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    width: 100%;
    border-radius: 25px;
}
.about-col-2{
    flex-basis: 60%;
}
.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}

#portfolio{
    padding: 50px 0;
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work img{
    width: 100px;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}
.layer{
    width: 100%;
    height: ;
    background: linear-gradient(rgba(0,0,0,0.6), #ff004f);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transform: height 0.5s;
}
.layer h3{
    font-weight: 500px;
    margin-bottom: 20px;
}
.layer a{
    margin-top: 20px;
    color: #ff004f;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.work:hover img{
    transform: scale(1.1);
}
.work:hover .layer{
    height: 100%;
}
.skill-title{
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}
.hire-title{
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}

.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
}
.contact-left p{
    margin-top: 30px;
}

.ski{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.ski img{
    width: 100px;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}
